.emptyBoard {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyBoardInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.emptyBoardTitle {
  color: var(--color-text);
}

.container {
  margin: 2.4rem;
}

.columnGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 30rem));
  grid-template-rows: 1fr;
  column-gap: 2.4rem;
}

.newColumnButtonDiv {
  background-image: var(--gradient-primary);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 91.5%;
  width: 100%;
  overflow: hidden;
  place-self: center;
}

.newColumnButton {
  height: 100%;
  width: 100%;
  font-family: inherit;
  font-size: 2.4rem;
  font-weight: bold;
  color: #828fa3;
  background-color: inherit;
  border: none;
  transition: all 0.15s ease;
}

.newColumnButton:hover {
  color: var(--color-primary);
}

.newColumnButton:active {
  transform: scale(0.97);
}
