.outerWrapper {
  flex-basis: 40rem;
  min-height: 100%;
  background-color: var(--background-primary);
  border-right: 1px solid var(--border-primary);
  transition: background-color 0.15s ease, transform 0.15s ease;
  position: relative;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logoWrapper {
  min-height: 11.2rem;
  padding: 3.3rem 0 0 3.4rem;
}

.boardsDiv {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.boardsTitle {
  text-transform: uppercase;
  padding-left: 3.2rem;
}

.navList {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.hideButton {
  position: absolute;
  bottom: 2.2rem;
  left: 0;
}

.hide {
  transform: translateX(-100%);
  position: absolute;
}

.showSidebarButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.9rem 2.2rem 1.9rem 1.8rem;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border: none;
  background-color: var(--color-primary);
  position: absolute;
  bottom: 3.2rem;
  transition: all 0.15s ease;
  animation: showButton 0.2s ease;
}

.showSidebarButton:hover {
  background-color: var(--color-primary-hovermain);
  transform: scaleX(1.05) scaleY(1.02);
}

@keyframes showButton {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
