.outerWrapper {
  padding: 2.3rem 1.6rem;
  background-color: var(--background-primary);
  border-radius: 8px;
  transition: background-color 0.15s ease;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.taskText {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
}
