.outerWrapper {
  min-height: 10rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-primary);
  min-width: calc(100vw - 30rem);
  width: 100%;
  max-width: auto;
  transition: all 0.2s ease;
}

.innerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-inline: 2.4rem;
}

.newTaskDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  position: relative;
}
