@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --color-primary: #635fc7;
  --color-primary-hover: rgba(99, 95, 199, 0.1);
  --color-primary-hovermain: #a8a4ff;

  --color-heading: #000112;
  --color-text: #828fa3;
  --color-text-hover: rgba(130, 143, 163, 0.75);

  --color-red: #ea5555;
  --color-red-hover: #ff9898;

  --background-primary: #fff;
  --background-secondary: #f4f7fd;

  --border-primary: #e4ebfa;

  --color-placeholder: rgba(0, 0, 0, 0.25);

  --color-text-form: #000;

  --gradient-primary: linear-gradient(
    180deg,
    rgba(233, 239, 250, 1) 0%,
    rgba(233, 239, 250, 0.5) 50%
  );
}

[data-theme="dark"] {
  --background-primary: #2b2c37;
  --background-secondary: #20212c;
  --color-heading: #fff;
  --color-text: #828fa3;
  --color-text-form: #fff;
  --border-primary: #3e3f4e;
  --color-placeholder: rgba(255, 255, 255, 0.25);
  --gradient-primary: linear-gradient(
    180deg,
    rgba(43, 44, 55, 1) 0%,
    rgba(43, 44, 55, 0.5) 50%
  );
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--background-primary);
  color: var(--color-text);
  transition: background-color 0.15s ease;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  display: inline-block;
  cursor: pointer;
}

h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3rem;
  color: var(--color-heading);
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--color-heading);
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.9rem;
  color: var(--color-heading);
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5rem;
  letter-spacing: 2.4px;
  color: var(--color-text);
}

p {
  font-size: 1.3rem;
  font-weight: medium;
  line-height: 2.3rem;
  color: var(--color-text);
}

::-webkit-scrollbar {
  display: none;
}
